@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');




:root{
  --primaryFont: "Inter", sans-serif;
  --secondaryFont: "Lexend Deca", sans-serif;

  --navy950-main-background: hsl(233, 47%, 7%);
  --blue950-card-background: hsl(244, 37%, 16%);
  --purple500-accent: hsl(277, 64%, 61%);

  --white-main-heading-stats: hsl(0, 0%, 100%);
  --white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --white-stat-headings: hsla(0, 0%, 100%, 0.6);
}
*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
}
img{
  max-width: 100%;
  height: auto;
}

body{
  background-color: var(--navy950-main-background);
  color: var(--white-main-paragraph);
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  background-color: var(--blue950-card-background);
  display: flex;
  justify-content: center;
  max-width: 56.25rem;
  border-radius: .5rem;
  overflow: hidden;
}
.content_text{
  flex-basis: 50%;
  padding: 3.125rem 2.5rem 0; 
}
.content_text h1{
  font-family: var(--primaryFont);
  color: var(--white-main-heading-stats);margin-block-end: 1.56rem;
}
.content_text h1 span{
  color:var(--purple500-accent);
}
.content_text p{
font-family: var(--primaryFont) ;
color: var(--white-main-paragraph);
line-height: 1.56rem;
margin-block-end: 2.81rem;
}
.content_footer{
  display: flex;
  justify-content: space-between;  
}

.content_footer p{
  color: var(--white-main-heading-stats);
  font-size: 1.5rem;
  font-weight: 700;
}
.content_footer p span{
  color: var(--white-stat-headings);
   display: block;
   font-size: .75rem;
   font-weight: normal;
   letter-spacing: .18rem;
   text-transform: uppercase;  
}
.content_image{
  position: relative;
  flex-basis: 50%;
  height: 100%;
  overflow: hidden;
}
.image_desktop {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.overlay{
  position:absolute ;
  width:100%;
  max-width: auto;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(105, 16, 160);
  opacity: .5;
  z-index: 11; 
  display: block;
}
.image_mobile{
  display: none;
}
@media screen and (max-width:56.875rem){
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.125rem 1.25rem;
    height:  auto;  
    
  }
  .content{
    flex-direction: column-reverse;
    max-width: 40.625rem;
    border-radius: .625rem;  
    overflow: hidden;    
  }
  .image_desktop{
  display: none;
}
  .image_mobile{
  display: block;
  max-width: 100%;
}
.content_text{
  text-align: center; 
}
.content_footer{
  flex-direction: column;
}
}
